/* AyushSharma173.github.io/my-portfolio/src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
}

